---
# https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: >
  -*,
  modernize-deprecated-headers,
  performance-*,
  readability-braces-around-statements,
  readability-make-member-function-const,
...

#  bugprone-*,
#  -bugprone-reserved-identifier,
#  cert-flp30-c,
#  cert-mem57-cpp,
#  cert-oop57-cpp,
#  cert-oop58-cpp,
#  clang-analyzer-*,
#  readability-*,
#  -readability-convert-member-functions-to-static,
#  -readability-else-after-return,
#  -readability-implicit-bool-conversion,
#  -readability-magic-numbers,
#  -readability-uppercase-literal-suffix,
#  modernize-*,
#  -modernize-avoid-c-arrays,
#  -modernize-use-auto,
#  -modernize-use-trailing-return-type,
#  cppcoreguidelines-pro-type-static-cast-downcast,
#  cppcoreguidelines-pro-type-cstyle-cast,
