---
# https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: >
  -*,
  bugprone-*,
  -bugprone-parent-virtual-call,
  -bugprone-reserved-identifier,
  cert-flp30-c,
  cert-mem57-cpp,
  cert-oop57-cpp,
  cert-oop58-cpp,
  clang-analyzer-*,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-convert-member-functions-to-static,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-inconsistent-declaration-parameter-name,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
# TODO: These are important, but they're destructive. Turn on one day.
#  cppcoreguidelines-pro-type-static-cast-downcast,
#  cppcoreguidelines-pro-type-cstyle-cast,
...
