---
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# We base things of WebKit + Allman braces
# BasedOnStyle: WebKit
AccessModifierOffset: -4
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
# This is just to make clang-format chill out! Use your best judgement!
ColumnLimit: 0
CompactNamespaces: 'false'
ConstructorInitializerIndentWidth: 0
Cpp11BracedListStyle: 'false'
IndentCaseLabels: 'true'
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: 'false'
Language: Cpp
NamespaceIndentation: All
PointerAlignment: Left
ReflowComments: true
SortIncludes: 'true'
SortUsingDeclarations: 'true'
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
Standard: Cpp11
UseTab: Never

...
