# top-most EditorConfig file
root = true

# Visual Studio comes bundled with native support for EditorConfig
# For other code editors:  https://editorconfig.org/#download
[*.sql]
charset = utf-8

[*.lua]
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
quote_style = single
continuation_indent = 4
table_separator_style = comma
trailing_table_separator = smart
call_arg_parentheses = keep
insert_final_newline = true
space_around_table_field_list = true
space_before_attribute = true
space_before_function_open_parenthesis = false
space_before_function_call_open_parenthesis = false
space_before_closure_open_parenthesis = false
space_before_function_call_single_arg = always
space_before_open_square_bracket = false
space_inside_function_call_parentheses = false
space_inside_function_param_list_parentheses = false
space_inside_square_brackets = false
space_around_table_append_operator = false
ignore_spaces_inside_function_call = false
space_before_inline_comment = 1
space_after_comment_dash = false
space_around_math_operator = true
space_after_comma = true
space_after_comma_in_for_statement = true
space_around_concat_operator = true
space_around_logical_operator = true
space_around_assign_operator = true
align_call_args = false
align_function_params = true
align_continuous_assign_statement = true
align_continuous_rect_table_field = true
align_continuous_line_space = 2
align_if_branch = false
align_array_table = true
align_continuous_similar_call_args = false
align_continuous_inline_comment = true
align_chain_expr = none
never_indent_before_if_condition = false
never_indent_comment_on_if_branch = false
keep_indents_on_empty_lines = false
allow_non_indented_comments = false
line_space_after_if_statement = fixed(2)
line_space_after_do_statement = fixed(2)
line_space_after_while_statement = fixed(2)
line_space_after_for_statement = fixed(2)
line_space_after_local_or_assign_statement = keep
line_space_after_function_statement = keep
line_space_after_expression_statement = keep
line_space_after_comment = keep
line_space_around_block = fixed(1)
break_all_list_when_line_exceed = true
auto_collapse_lines = false
break_before_braces = true
ignore_space_after_colon = false
remove_call_expression_list_finish_comma = false
end_statement_with_semicolon = replace_with_newline
max_line_length = 200

[*.{cpp,h}]
charset = utf-8-bom
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
indent_brace_style = allman # This is unfortunately ignored in Visual Studio

# Makefiles actually require the tabs.
[Makefile]
indent_style = tab

[*.yml]
indent_style = space
indent_size = 2
