[submodule "navmeshes"]
    path = navmeshes
    url = https://github.com/LandSandBoat/xiNavmeshes.git
[submodule "ximeshes"]
    path = ximeshes
    url = https://github.com/InoUno/ximeshes.git
[submodule "phoenix_ac"]
    path = modules/phoenix_ac
    url = https://github.com/phoenixffxi/phoenix-staff.git
    update = none
