[submodule "losmeshes"]
	path = losmeshes
	url = https://github.com/LandSandBoat/losmeshes.git
[submodule "modules/catseyexi"]
	path = modules/catseyexi
	url = https://github.com/catsandboats/modules
	ignore = all
[submodule "modules/contrib"]
	path = modules/contrib
	url = https://github.com/CatsAndBoats/contrib
	ignore = all
[submodule "navmeshes"]
	path = navmeshes
	url = https://github.com/CatsAndBoats/xiNavmeshes
