[submodule "navmeshes"]
	path = navmeshes
	url = https://github.com/DerpyProjectGroup/xiNavmeshes.git
[submodule "xiNavmeshes"]
	path = xiNavmeshes
	url = https://github.com/DerpyProjectGroup/xiNavmeshes.git
