{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["**/*.yaml", "**/*.yml"],
      "options": {
        "singleQuote": false,
        "bracketSpacing": true
      }
    }
  ]
}
